# Disable directory browsing
Options -Indexes

<Files "*.php">
    Order Allow,Deny
    Allow from all
</Files>

<Files "composer.json">
    Order Deny,Allow
    Deny from all
</Files>

<Files "composer.lock">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "^\.">
    Order Deny,Allow
    Deny from all
</FilesMatch>